main{  
  color: white;
  width: 200px;
  height: 195px;
  border: 8px solid #4285f4;
  font-weight: bold;
  font-size: 24px;
  font-family: Recursive;
  text-align: center;
  justify-content: center;
 }
.red{
  background: #E67676;
  padding-bottom: 20px;
}
.yellow{
  background: #F2F062;
  padding-bottom: 20px;
}
.green{
  background: #A9E6E6;
  padding-top: 20px;
}
#blue{
  background: #7692E4;
  padding-top: 20px;
}